
.jum {
    background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/53652936_10103466174527367_5953369196799721472_n.jpg?_nc_cat=100&_nc_ht=scontent-ort2-2.xx&oh=317317c9603db221a04b7bfc76fca64c&oe=5D18669F");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 400px;
   font-weight: bold;
}

.main {
    color: black;
    padding-top: 30px;
    font-size: 3.5em;
    text-align: center;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    padding-left: 60px;
}
