

.jumbotron{
    background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/53652936_10103466174527367_5953369196799721472_n.jpg?_nc_cat=100&_nc_ht=scontent-ort2-2.xx&oh=317317c9603db221a04b7bfc76fca64c&oe=5D18669F") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}


.navbar {
    text-align: center;
}