.heading {
    text-align: center;
}

.month {
    text-align: center;
}
.week {
    text-align: center;
}
.verse {
    text-align: center;
}
.themes {
    text-align: center;
}
.focus {
    text-align: center;
}
.topics {
    text-align: center;
}


body {
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  }