td, th {
    width: 4rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
  }

.body {
  background-image: linear-gradient(to right top, #005de8, #0098ff, #00c1e4, #00df86, #a9ee0d);
}


.one, .two, .three, .four {
  text-align: center;
}

.table {
width: 100%;
}

.weekday {
  text-align: center;
}

.meal{
  text-align: center;
}




/*  NAVBAR CSS */
.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}
.dropdown-item:hover {
  background-color: lightblue !important;
  
}
.navbar-nav li {
  display: inline-block;
  float:none;
  padding-left: 60px;
}
.nav-link:hover {
  color:  blue !important;
  font-size: 110%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}







/* MEDIA QUERIES */

@media (max-width: 480px) {
  .body {
    background-image: none;
    background-color: #a9ee0d;
  }
}