.responsiveCal {
 
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
    margin-left: 300px !important;
    }
     
    .responsiveCal iframe {
     
    position: absolute; top:0; left: 0; width: 75%; height: 75%;
 
     
    }

.navbar {
    margin-bottom: 50px;
}





@media (max-width: 1251px) {
    .responsiveCal {
        margin-left: 225px !important;
    }
}

@media (max-width: 1000px) {
    .responsiveCal {
        margin-left: 200px !important;
    }
}

@media (max-width: 950px) {
    .responsiveCal {
        margin-left: 175px !important;
    }
}

@media (max-width: 840px) {
    .responsiveCal {
        margin-left: 135px !important;
    }
}

@media (max-width: 680px) {
    .responsiveCal {
        margin-left: 110px !important;
    }
}

@media (max-width: 500px) {
    .responsiveCal {
        margin-left: 75px !important;
    }
}

@media (max-width: 360px) {
    .responsiveCal {
        margin-left: 35px !important;
    }
}