
/* Navigation css styles */
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.nav-item li {
    display: inline-block;
    float:none;
    padding-left: 60px;
}
.nav-link:hover {
    color:#008B8B !important;
}
.nav-link:visited {
    color:#008B8B !important;
}
.navbar-nav li {
    display: inline-block;
    float:none;
    padding-left: 60px;
}
.nav-link {
    font-weight: 700;
}
/* // Navigation css styles */
.dropdown-item {
    color: #008B8B !important;
}

.body {
    background-color: 	#008B8B;
}

.staff {
    padding-top: 15px;
    padding-bottom: 15px;
}
a:visited {
    color: white;
}
.head {
    color: green;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.email {
    font-weight: 900;
    font-size: 20px;
}

a:link {
color: white;
}

/* FOOTER css styles */
.foot {
    color: black;
}
.foot:hover {
    color: red;
}
.phone2 {
    color: white !important;

}

.phone2:hover {
    color: red !important;
}
/*// FOOTER css styles */


/* Making all card images the same size */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/* Adjusting text in cards to be centered */
.card-title {
    text-align: center;
    font-size: 15px;
}
.card-text {
    text-align: center; 
    font-size: 13px;
}
.list-group-item {
    text-align: center;
    font-size: 12px;
}
.card-footer {
    text-align: center;
}

.toby {
    text-align: center;
    height: 45rem;
}

.card {
    width: 15rem;
    height: 45rem;
    margin-top: 10px;
    border-width: 13px !important;
}







/* MEDIA QUERIES */




@media (Max-width: 576px) {
    .staff {
        width: 55% !important;
    }

}

@media (max-width: 980px) {
    .card-footer {
        display: none;
    }
}

@media (max-width: 576px) {
    .card {
        margin-left:auto;
        margin-right:auto;
    }
}


@media (max-width: 980px) {
    .list-group-item {
        display: none !important;
    }
}

@media (max-width: 980px) {
    .card {
       height: 400px;
    }
}

@media (max-width: 980px) {
    .card-title, .card-text {
      font-size: .75em;
    }
}

@media (max-width: 980px) {
    .brandi {
        font-size: .70em;
    }
}

@media (max-width: 980px) {
    .card-img-top {
height: 40%;
    }
}

@media (min-width: 1100px) {
    .card {
       height: 500px;
    }
}